<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	    <title>URLs</title>
  	</head>
  	<body>
  	  	<p>URL SHORTENER</p>
		<form name="input" action="/_shorten" method="post">
			Introduce a URL: <input type="text" name="url" />
			<input type="submit" value="Shorten" />
		</form>
		<p>(*The URL should start by http(s)://)</p>
	</body>
</html>
  
